*{
    padding:0;
    margin:0;
}
.seactionA{
    display: flex;
    justify-content: space-around;  
    padding-top: 20px;;
    background-color: LightSlateGrey;
    position: sticky;
    top: 0;
}
.seactionA h1{
    margin-right: 40px;
    margin-bottom: 15px;
}
.navbar{
    display: flex;    
}
.navbar h3{
    margin-left:50px ;
    font-size: large;
}
.seactionB{
    display: flex;
}
.card{
    margin-top: 25px;
    margin-left: 80px;
    background-color: LightSkyBlue; 

}
.card-part{
    margin-left:60px;
   
}
.card h3{
    padding: 10px;
    margin-left: 15px;   
}
.card img{
    width: 350px;
    height: 400px;
}
.link{
    margin-left:90px;
    padding: 10px ;
 
}
.link img{
    width:30px;
    height: 30px;
}
.detils{
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 115px;
    background-color: #e7ebef;
}
.detils h1{
    text-align: center;
}
.detils p{
    padding: 20px;
    font-size: 20px;
}